<h1>All Restaurants</h1>
<ul>
  <% @restaurants.each do |resto| %>
  <li><%= resto.name %> - <%= link_to 'Details', restaurant_path(resto) %></li>
  <% end %>
</ul>
<%= link_to 'Add a restaurant', new_restaurant_path %>





